.container{
max-width: 120rem; //1200px ,quando diminuisce occupera il 100% della larghezza e non verrà "mangiato"
margin: 8rem auto; //centrato a dx e sx e margine top di 8
background-color: var(--color-grey-light-1); 
box-shadow: var(--shadow-dark);
min-height: 50rem;//1200px ,quando diminuisce occupera il 100% della larghezza

}

.header{
height: 7rem;
background-color: #fff;
border-bottom: var(--color-grey-light-2); 
display: flex;
justify-content: space-between;
align-items: center;
}

.content{
display: flex; //padre

}

.sidebar{
background-color: var(--color-grey-dark-1);
flex:0 0 18%; //diciamo che la sidebar non cresce e non decrementa e che è larga 18%
}

.hotel-view{
    background-color: #fff;
    flex:1; //con flex 1 essa cresce di 1 andando a prendersi tutto lo spazio rimasto,ovvero l' 82% (100%-18 della sidebar)
}